html{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;    
}

.bloc 
{
    flex-flow: left;
    font-weight: 100px;
    background-color:  rgb(254, 202, 7);
    flex-direction: column;
    text-align: left;
}
.image-ronde{
    width: 150px; 
    height: 150px;
    border:none;    
    -moz-border-radius:75px;
    -webkit-border-radius:75px;
    border-radius:75px;
}

