#bloc{
	background-color:rgb(254,202,7);
	width:20%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
body{
	margin: 10px;
	padding: 10px;	
}
#bloc>contact{
	width:20%;
	display:flex;
	flex-direction:column;
	list-style-type:none;	
	background-color:rgb(254,202,7);		
}

#loisir>div>i{	
	font-weight:600;
	font-size:300%;
	border-radius:50%;
	border:3px solid;
}
#loisir>div{
	display:flex;
	justify-content:space-around;
	margin-bottom:5px;
}
.image-ronde{
    width:150px; 
    height:150px; 
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
    border-radius:50%;
	margin-left:auto;
	margin-right:auto;		
	margin-top:40px;
	margin-bottom:30px;
	align-items:center;
	display:flex;
}
/*fin de contact*/
header{	
	position:absolute;
	width:80%;	
	left:300px;
	padding-bottom:50px;			
}
h1{		
	font-weight:50;
	font-size:1.5em;	
}
h4{
	font-weight:100;
	font-size:1.5em;
}
.cecile{
    color:rgb(254,202,7);
}
.devel{
	text-decoration:rgb(254,202,7)underline;  
}
#experience>header{
	width:90%;
	margin-left:5%;
	height:8%;
}
/*fin de header*/
h3{		
	text-align:center;
	color:rgb(254,202,7);
	background-color: black;
}
#experience>section>ul>li{
	display:flex;
	flex-direction:row;
	justify-content:space-around;		
}
#experience{
	width:80%;
	display:flex;
	flex-direction:column;
	float:right;
	position:absolute; top:250px; left:300px;	
	background-color:white;	
}
.fas.fa-graduation-cap{
	float:left;
	position:relative;
	bottom:50px;
	color:rgb(254,202,7);
	font-size:2em;	
}
.fas.fa-briefcase{
	float:left;
	position:relative;
	color:rgb(254,202,7);
	font-size:2em;
	bottom:50px;
}
.fas.fa-pencil-alt{
	float:left;
	position:relative;
	color:rgb(254,202,7);
	font-size:2em;
	bottom:50px;
}
li{
	list-style-type:none;
	width:941px;
}
.fas.fa-dot-circle{	
	color:rgb(254,202,7);
	font-size:1em;
	display:flex;
	position:relative;
	right:50px;
	width:56px;
	height:122px;
	font-weight:400;		
}	
.fas.fa-circle{
	color:rgb(254,202,7);
	font-size:1em;
	float:left;
	position:relative;
	right:40px;
	height:122px;
	width:56px;
}
ul{
	display:flex;
	flex-direction:column;
}
hr{
	position:relative;
	bottom:15px;
	right:40px;
}
li>.date{
	display:flex;
	font-size:20px;
	flex-direction:column;
	width:10%;
}
h2{
	left:50px;
	position:relative;
}
.diplome{
	width:70%;	
	display:flex;
	flex-direction:column;
	position:relative;		
	font-size:30px;
	margin-left:10px;
	align-items:center;		
}
.p{
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
}
section{
	margin:0px;
	padding:0px;
}
















