.image-ronde{
    width: 100px; 
    height: 100px;        
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
.cecile{
    color: rgb(254,202,7);
}
.devel{
  text-decoration: rgb(254,202,7)underline;  
}
.infos{		
    background-color: rgb(254,202,7);
	flex-direction:column;
	list-style-type:none;
	display:flex;
	justify-content:space-between;
}
h3{
	color:rgb(254,202,7);
	background-color: black;
}
.main{
	background-color:white;
	border:none;
	list-style-type:none;
	justify-content:space-between;	
}
.contact{
	list-style-type:none;	
}
.pro{
	list-style-type:none; 	
}
h2{
	border-bottom:1px solid rgb(254,202,7);
}
.fa-briefcase{
	color:rgb(254,202,7);
}
.fa-graduation-cap{
	color:rgb(254,202,7);
}
.fa-pencil-alt{
	color:rgb(254,202,7);
	
}	





