.image-ronde{
    width: 100px; 
    height: 100px;        
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
.cecile{
    color: rgb(254,202,7);
}
.devel{
  text-decoration: rgb(254,202,7)underline;
  
}
.infos{		
    background-color: rgb(254,202,7);
	flex-direction:column;
	list-style-type:none;
	display:flex;
	justify-content:space-between;
}
h3{
	color:rgb(254,202,7);
	background-color: black;
}
.main{
	background-color:white;
	border:none;
	
	justify-content:space-between;	
}
.fa-dot-circle{
	color: rgb(254,202,7);
	width:6%;		
}
.contact{
	list-style-type:none;	
}
.main{
	list-style-type:none;
}
.ex_pro{
	list-style-type:none;
}
.formation{
	text-decoration:rgb(254,202,7)underline;
}

